<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chatListGrupo">
            <h2><span jhiTranslate="newoApp3App.chatListGrupo.detail.title">Chat List Grupo</span> {{chatListGrupo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="newoApp3App.chatListGrupo.propietario">Propietario</span></dt>
                <dd>
                    {{chatListGrupo.propietario?.login}}
                </dd>
                <dt><span jhiTranslate="newoApp3App.chatListGrupo.destinatario">Destinatario</span></dt>
                <dd>
                    {{chatListGrupo.destinatario?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chat-list-grupo', chatListGrupo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
